@media  only screen and (max-width:576px) {
    
    .nav{

      margin: 0 auto;
    }
    .nav-bar{
       display: none;
    }
    .fa-solid{
       
       margin-top: 30px;
       margin-left: 200px;
    }
    .content{
     
       width: 100%;
       margin:0 auto;
      
    }
    .content h1 {
        font-size: 36px;
       
    }
  .inter-font{
    font-size: 36px;
  }
  
  
  .btn1,.btn2{
    width: 100px;
height: 40px;
  }
    .image-section{
    margin-left: 65px;
    width: 353px;
height: 588px;

    }
    .banner{
        
        flex-direction: column;
        justify-items: center;
        margin: 0 auto;
        width: 400px;
        width: 100%;
    }

   
    .text3{
        position: relative;
       margin-top: 500px;
       


    }
    .habit{
        flex-direction: column;
    }
    .run-part{
        flex-direction: column;
        width: 90%;
        height: 380px;
        height: 100%;
        margin: 10px auto;

    }
    .text-part{
       align-items: center;
       text-align: left;
    }
    .run-part img{
      justify-content: center;
    }
    .bmi-section{
        flex-direction: column;
       
       
        margin-top: 30px;
        width:450px;
        height: 1000px;
        width: 100%;
    }
    .bmi-section h1{
     
      border: 1px solid lawngreen;
     
    }
    .bmi-text{
      text-align: left;
      margin-left: 25px;
    }
   
    .bmi-chart{
      margin: 0 auto;
    }
    .calculate-bmi{
      display: flex;
      flex-direction: column;
      width: 500px ;
     margin: 20px auto;
     margin-left: 0;
    }
    
   
    
    .meet-container{
        display: flex;
        flex-direction:column ;
        margin: 10px auto;
        width: 350px;
        height: 1190px;
        padding: 20px;
    align-items: center;
    }
    .meet{
      height: 1780px;
      width: 400px;
     
    }
   
.lastpart{
  flex-direction: column;
  margin: 300px auto;
}

.footer-part{
  max-width: 576px;
  width: auto;
  height: 986px;
  text-align: center;
  margin: 0 auto;
  
}

 

}








@media only screen and(min-width:992px){
    .nav-bar{
        display: flex;
    }
    .fa-solid{
        display: none;
    }
   
   }











