@media only screen and(min-width:992px){
    .nav-bar{
        display: flex;
    }
    .fa-solid{
        display: none;
    }
   
   }











@media  only screen and (max-width:576px) {
    
    .nav{

       justify-content: right; 
    }
    .nav-bar{
       display: none;
    }
    .fa-solid{
       
       margin-top: 30px;
       margin-left: 200px;
    }
    .content{
        margin-left: 200px;
    }

    .image-section{
        margin-left: 200px;
    }
    .banner{
        
        flex-direction: column;
        justify-items: center;
        margin: 0 auto;
    }
    .text3{
        position: relative;
       margin-top: 500px;
       


    }
    .habit{
        flex-direction: column;
    }
    .run-part{
        flex-direction: column;
        width: 100%;
    }
    .bmi-section{
        flex-direction: column;
    }
    .meet-container{
        display: flex;
        flex-direction:column ;
      
    }
   
}
