@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Satisfy&display=swap');
  


.inter-font {
    font-family: 'Miama Nueva', sans-serif;
                                                
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
  }
  .fa-solid{
   
  }
 
  
  .inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
*{
    color: white;
}
 .inter-normal{
   background-color: black;
    color: white;
 }

.display-flex {
    display: flex;
}
.colorgrey{
     color: rgba(255, 255, 255, 0.5);
}
.nav {
    justify-content:space-between;
    width:90%;
    margin-left: 100px;
}  
li{
   margin-right: 30px;
    list-style: none;
   margin-top: 10px;
   text-align: center;
  
}
.home{
    
    border-radius: 46px;
    background: rgb(230, 83, 60);
    width: 92px;;
    height: 25px;
    text-align: center;
}

.link-items{
 height: 40px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
margin-top: 15px;

}

.banner {
    position: relative;
  width: 1440px;
    height: 715px;
    background: linear-gradient( to top, #000000, #333333);
    background-size: cover;
  
   
   
    
}

.content{
  
   width: 50%;
    height: 715px;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
   
    
}
.content h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;

}

.banner img{
    position: relative;
    max-width: 349px;
    height: 580px;
    margin-left: 20px;
    margin-top: 60px;
}
  
.btn1{
    border-radius: 42px;
    width: 224px;
    height: 54px;
    background: rgb(230, 83, 60);
    text-align: center;
    margin-top: 20px ;
    border: 1px solid rgb(230, 83, 60) ;
}
.btn2{
    border-radius: 42px;
    width: 224px;
    height: 54px;
    background:none;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 20px;
}

.card2{
    position: absolute;
    width: 206px;
    height: 96px;
   
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    margin-top: 400px;
    justify-content: space-around;
    align-items: center;
   margin-left: 0;
  
}
.card2 *{
    background: transparent;
}

.circle{
  border: 1px solid rgb(230, 83, 60);
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
 
}
.text1{
    color: rgb(249, 246, 241);
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
 
}
.text2, .text3 p{
    color: rgba(239, 237, 232, 0.65);
    
}
.card1{
   position:absolute;
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    margin-left: 40px;

    text-align: center;
    margin-top: 200px;
    margin-left: 206px;
   
}

.image-section{
   width: 50%;
 
}

.card1 * {
    
    background: transparent;
}

.text3 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: center;
}
/* 2nd part*/

.habit img{
   border-radius: 50%;
}
.habit{
    text-align: center;
    margin-top: 40px;
}

/* 3rd part */

.run-part{
  
    max-width: 1060px;
height: 371px;
border-radius: 18px;
width: 100%;
 margin: 80px auto;
background: rgb(34, 34, 34);
justify-content: space-around;
align-items: center;



}
.text-part{
    flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
   
}

.run-part img{
   max-width: 366px;
height: 312px;
border-radius: 18px;
object-fit: none;
object-position: 65% 30%;

}
.run-part *{
    background: rgb(34, 34, 34);
}

.run-part button{
width: 224px;
height: 54px;
border-radius: 42px;
background: rgb(230, 83, 60);
border: 1px solid rgb(230, 83, 60) ;
margin-top: 10px;
}

/*bmi part*/
.bmi-text{

    margin-top: 60px;
   
    text-align: center;
    
}
.bmi-section{
    max-width: 1460px;
   
height: 487px;


background: rgb(34, 34, 34);
}

.bmi-section{
   align-items: center;
   margin: 50px auto;
}
.calculate-bmi{
    margin-top: 19px;
   width: 777px;
   margin-left: 60px;
   height:450px;
   margin-top: 50px;
 
}
.cal-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 3;
   
    gap: 20px;
  
  
  
  
}

.bmi-part{
   width: 295px;
    
    padding: 12px 40px 12px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}
.opt{
  
    color: grey;
    margin-right: 23px;
      padding: 12px 40px 12px 20px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.1);
      border-right: 25px solid transparent;
}
.sl-op{
  grid-column: 1 /span 2;
  margin-right: 22px;
  color: grey;
    padding: 12px 40px 12px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-right: 25px solid transparent;
  
}
   

.input1{
    background: none;
}
.btn3{
   position:absolute;
    width: 224px;
    height: 54px;
    border-radius: 42px;

background: rgb(230, 83, 60);
border: 1px solid rgb(230, 83, 60);;
margin-top: 10px;

}
.btncls{
   
   text-align: left;
}

.bmi-chart{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(2,1fr);
   
   
    width: 500px;
    height: 350px;
    text-align:center;
   margin-left: 110px;

    
}
.bmi-chart .row{
    border: 1px solid grey;
    color: rgba(255, 255, 255, 0.5);;
    
}

/* meet part*/
.meet-container{
    max-width: 1000px;
    height: 550px;
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px 20px;
    gap: 20px;
  
   
    
}
.meet-container img{
   margin-top: 10px;
    width: 320px;
    height: 272px;
    border-radius: 20px;
}
.container-1{
    display: flex;
    flex-direction: column;
   
    position: relative;
}
.overlay{
    position:absolute;
   margin-top: 190px;
  margin-left: 20px;
   
}

.overlay p{
    color: grey;
  margin-top: 5px;
}
.meet{
   max-width: 1040px; 
height: 604px;

border-radius: 18px;
margin: 0 auto;
background: rgb(34, 34, 34);
}
/*footer part*/

.footer-part{
    
  width: 1460px;
 height: 500px;
 justify-content: center;
 
  background: rgba(255, 255, 255, 0.1);
  margin-top: 120px;
  text-align: left;
  margin-left: 0;
  
}
.lastpart{
   
  flex-wrap: wrap;
   
    margin-left: 120px;
}
.c{
   
    margin-left: 45px;
    flex: 1;
    margin-top: 70px;
}

/* unique part */

.extra-part{
  
   display: flex;
  
   width: 1050px;
   height: 400px;
   margin: 90px auto;
   justify-items: center;
  align-items: center;
  background: linear-gradient(0, rgb(51, 42, 42), rgb(53, 52, 56));
   border-radius: 20px;
 
}

.box{
    width: 50%;
    height: 300px;
    margin: 10px auto;
    text-align: center;
   
   
   
}

.box img{
    width: 50%;
    border-radius: 25px;
}